.block1#blockb {
	display: flex;
	flex-direction: column;
	margin: -2rem 0 2rem;
		text-align: center;
	& button {
		color: rgb(10,10,10);
		letter-spacing: 3px;
		font-size: 1.4rem;
		font-family: Cabin Sketch,sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		background: #38b6ff;
		/* background-color: #fcd176; */
	}
	& .ctaButton {
		display: none;
		@media (--content-query) {
			display: block;
		}
	}
	& .ctaButton a {
		background: transparent;
		border-radius: 0;
		padding: 0;
		cursor: grab;
	}
}
